<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="images/favicon.png" type="image/gif" />

    <title>AlHelal_Store</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />

</head>

<body>

    <!-- header section strats -->
    <!-- end header section -->
    <!-- service section -->

    <section class="service_section layout_padding">
      
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    الخدمات
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="./images/s1.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                مطابخ مستعمله
                            </h5>
                            <p>
                                تستطيع ان <span><strong> تبيع و تشترى </strong></span> جميع ادوات المطبخ ، اذا كنت تريد تجديد مطبخك فقط ما عليك اللى ان تتواصل مع مؤسسة الهلالى
                                إذا كنت ترغب في بيع مطبخك القديم وتبحث عن مؤسسة موثوقة، فلا داعي للمزيد من البحث، يمكنك الاتصال بنا في الهلالي. نحن نقدم خدمات شراء الأثاث المنزلي بما في ذلك المطابخ القديمة، ونضمن لك تجربة سلسة وموثوقة.

                                باستخدام خبرتنا الواسعة في مجال الأثاث المنزلي، نحن نقدم تقديرًا عادلًا لقيمة مطبخك القديم ونقدم لك عرضًا مجزيًا. كما نقدم خدمة سريعة وموثوقة لجلب الأثاث وتوفيرك من عناء التخلص منه بنفسك.

                                اتصل بنا اليوم للحصول على استشارة مجانية وتقدير لمطبخك القديم، ودعنا نساعدك في بيعه بأسرع وقت ممكن وبأفضل سعر. نحن هنا لجعل عملية بيع مطبخك القديم سهلة ومربحة لك
                            </p>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="./images/s2.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                تطوير فنادق
                            </h5>
                            <p>
                                إذا كنت تبحث عن مؤسسة تساعدك في تطوير وتجديد فندقك، وتقدم خدمات شراء الأثاث بالتعاون مع الهلالي، فأنت في المكان الصحيح. نحن نفخر بتقديم خدمات شاملة لتطوير وتجديد الفنادق، بما في ذلك شراء الأثاث الذي يلبي تطلعاتك ويضيف لمسة من الأناقة والراحة لمنشأتك.

                                بالتعاون مع الهلالي، نقدم مجموعة متنوعة من الأثاث عالي الجودة والذي يتناسب مع أسلوب وديكور فندقك. نحن نعمل عن كثب معك لفهم احتياجاتك ومتطلباتك، ونقدم حلولًا مخصصة تتناسب مع ميزانيتك وتحقق رؤيتك.
                                فريقنا المتخصص يضمن لك تجربة تسوق سلسة ومريحة، حيث نقدم لك خدمة شراء الأثاث بأسعار تنافسية وبجودة عالية، بما يتماشى مع معاييرك وتوقعاتك. اتصل بنا اليوم لمناقشة احتياجاتك والبدء في تحويل فندقك إلى وجهة استثنائية تلبي احتياجات ضيوفك وتترك انطباعًا قويًا لديهم
                            </p>
                          
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="./images/s3.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                اثاث منزلى مستعمله
                            </h5>
                            <p class="dis">
                                إذا كنت تبحث عن مؤسسة تساعدك في تطوير وتجديد مجالس منزلك، فأنت في المكان المناسب. نحن نقدم خدمات شاملة لتحويل وتجديد مجالس منازلك بأسلوب أنيق ومميز يعكس ذوقك الشخصي ويضيف قيمة إلى منزلك.

                                مع فريقنا المحترف وذوي الخبرة، سنقوم بتقديم الاستشارات المباشرة والتصميمات المخصصة لتلبية احتياجاتك وتطلعاتك. سواء كنت ترغب في إعادة تصميم مجلس الاستقبال، أو تجديد غرفة المعيشة، أو تحديث مساحة الترفيه، فإننا نقدم حلولًا مبتكرة وعملية تناسب جميع أنماط الديكور والميزانيات.

                                نحن نضمن تنفيذ كل تفاصيل المشروع بدقة وجودة عالية، بدءًا من اختيار المواد والأثاث المناسب إلى التركيب والتشطيب. كما نهتم بتوفير تجربة تسوق ممتعة ومريحة لك

                                اتصل بنا اليوم لبدء رحلة تجديد مجالس منزلك، ودعنا نساعدك في إنشاء بيئة مريحة وجميلة تعكس أسلوب حياتك وتلبي احتياجاتك وتطلعاتك
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </section>

    <!-- end service section -->
    <!-- end info_section -->
    <!-- footer section -->
    <!-- <footer class="footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a>
        </p>
      </div>
    </footer> -->
    <!-- footer section -->
    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- lightbox Gallery-->
    <script src="js/ekko-lightbox.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>

</body>

</html>