<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="~/images/favicon.png" type="image/gif" />

    <title>AlHelal_Store</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

    <!-- lightbox Gallery-->
    <link rel="stylesheet" href="~/css/ekko-lightbox.css" />

    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>

<body>

    <div class="gallery_section layout_padding2">
        <div class="container-fluid">
            <div class="heading_container heading_center">
                <h2>
                    المعرض
                </h2>
            </div>
            <div class="row">
                <div class=" col-sm-8 col-md-6 px-0">
                    <div class="img-box">
                        <img src="~/images/g1.jpg" alt="">
                        <a href="~/images/g1.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 px-0">
                    <div class="img-box">
                        <img src="~/images/g2.jpg" alt="">
                        <a href="~/images/g2.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 px-0">
                    <div class="img-box">
                        <img src="~/images/g3.jpg" alt="">
                        <a href="~/images/g3.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 px-0">
                    <div class="img-box">
                        <img src="~/images/g4.jpg" alt="">
                        <a href="~/images/g4.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 px-0">
                    <div class="img-box">
                        <img src="~/images/g5.jpg" alt="">
                        <a href="~/images/g5.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 px-0">
                    <div class="img-box">
                        <img src="~/images/g6.jpg" alt="">
                        <a href="~/images/g6.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 px-0">
                    <div class="img-box">
                        <img src="~/images/0011.jpeg" alt="">
                        <a href="~/images/0011.jpeg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 px-0">
                    <div class="img-box">
                        <img src="~/images/0010.jpeg" alt="">
                        <a href="~/images/0010.jpeg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 px-0">
                    <div class="img-box">
                        <img src="~/images/0009.jpeg" alt="">
                        <a href="~/images/0009.jpeg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 px-0">
                    <div class="img-box">
                        <img src="~/images/0002.jpeg" alt="">
                        <a href="~/images/0002.jpeg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 px-0">
                    <div class="img-box">
                        <img src="~/images/0100.jpeg" alt="0100">
                        <a href="~/images/0100.jpeg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 px-0">
                    <div class="img-box">
                        <img src="~/images/0102.jpg" alt="0102">
                        <a href="~/images/0102.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 px-0">
                    <div class="img-box">
                        <img src="~/images/0014.jpg" alt="0014">
                        <a href="~/images/0014.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 px-0">
                    <div class="img-box">
                        <img src="~/images/0013.jpeg" alt="0013">
                        <a href="~/images/0013.jpegdata-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 px-0">
                    <div class="img-box">
                        <img src="~/images/0012.jpeg" alt="0012">
                        <a href="~/images/0012.jpeg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <!-- end info_section -->
    <!-- footer section -->
    <!-- footer section -->
    <!-- jQery -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- lightbox Gallery-->
    <script src="js/ekko-lightbox.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>

</body>

</html>