
<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="./images/" type="image/gif" />

    <title>AlHelal_Store</title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />

    <!-- lightbox Gallery-->
    <link rel="stylesheet" href="~/css/ekko-lightbox.css" />

    <!-- font awesome style -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>

<body>
    <!-- header section strats -->
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section position-relative">
        <div id="customCarousel1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="img_container">
                        <div class="img-box">
                            <img src="~/images/slider-bg.jpg" class="" alt="...">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img_container">
                        <div class="img-box">
                            <img src="~/images/0012.jpeg" class="" alt="...">
                        </div>
                    </div>
                </div>
             
                <div class="carousel-item">
                    <div class="img_container">
                        <div class="img-box">
                            <img src="~/images/0100.jpeg" class="" alt="...">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img_container">
                        <div class="img-box">
                            <img src="~/images/0102.jpg" class="" alt="...">
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img_container">
                        <div class="img-box">
                            <img src="~/images/0012.jpeg" class="" alt="...">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="detail-box">
            <div class="col-md-8 col-lg-6 mx-auto">
                <div class="inner_detail-box">
                    <h1>
                        <br>مؤسسة الهلالى<br>
                        من اجل بيع وشراء جميع انواع الاثاث المنزلى
                    </h1>
                    <p class="dis">
                        <br>الهلالى
                        شراء جميع انواع الاثاث المستعمل ، غرف نوم , ادوات كهربائيه , اثاث المطابخ ... <br>
                        الهلالى جميع الأثاث المنزلى
                    </p>
                    <div>
                        <a href="About" class="slider-link">
                            تواصل معنا
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section -->
    <!-- about section -->

    <section class="about_section layout_padding ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="~/images/about-img.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2 class="dis">
                                من نحن؟
                            </h2>
                        </div>
                        <p>
                            مرحبًا بك في موقعنا الإلكتروني الذي يتيح لك <strong>شراء</strong> و <strong>بيع</strong> جميع أنواع الأثاث
                            المنزلي موقعنا فى الرياض بكل سهولة ويسر. استمتع بتجربة تسوق مميزة وتصفح مجموعتنا الواسعة من الأثاث، التي
                            تشمل غرف <strong>
                                والمعيشة، وغرف النوم، وغرف الطعام، وأثاث الحدائق والفناء والمطبخ والادوات الكهربائيه
                            </strong>وغيرها الكثير. نحن نقدم منتجات عالية الجودة بأسعار معقولة، مما يساعدك على تحقيق أحلامك في تجديد
                            منزلك بأناقة وراحة. استفد من خدمة التوصيل المنزلي السريعة والموثوقة، حيث يمكننا توصيل الأثاث مباشرة إلى
                            باب منزلك في الرياض. تسوق الآن واحصل على الأثاث الذي يناسب احتياجاتك ويعكس ذوقك الشخصي بأفضل الأسعار وأعلى
                            جودة
                            <br>
                            من شتا المواقع فى المملكه <strong>السعوديه</strong> تواصل معانا وسوف تجدنا فى مكانك
                        </p>
                        <a href="About">
                            المزيد
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end about section -->
    <!-- gallery section -->

    <div class="gallery_section layout_padding2">
        <div class="container-fluid">
            <div class="heading_container heading_center">
                <h2>
                    <img src="" alt="">
                    المعرض
                </h2>
            </div>
            <div class="row">
                <div class=" col-sm-8 col-md-6 px-0">
                    <div class="img-box">
                        <img src="~/images/g1.jpg" alt="">
                        <a href="~/images/g1.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 px-0">
                    <div class="img-box">
                        <img src="~/images/g2.jpg" alt="">
                        <a href="~/images/g2.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 px-0">
                    <div class="img-box">
                        <img src="~/images/g3.jpg" alt="">
                        <a href="~/images/g3.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 px-0">
                    <div class="img-box">
                        <img src="~/images/g4.jpg" alt="">
                        <a href="~/images/g4.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 px-0">
                    <div class="img-box">
                        <img src="~/images/g5.jpg" alt="">
                        <a href="~/images/g5.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-sm-8 col-md-6 px-0">
                    <div class="img-box">
                        <img src="~/images/g6.jpg" alt="">
                        <a href="~/images/g6.jpg" data-toggle="lightbox" data-gallery="gallery">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="btn-box">
                <a href="Gallery">
                    عرض المزيد
                </a>
            </div>
        </div>
    </div>
    <section class="service_section layout_padding">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    الخدمات
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="./images/s1.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                مطابخ مستعمله
                            </h5>
                            <p>
                                تستطيع ان <span><strong> تبيع و تشترى </strong></span> جميع ادوات المطبخ ، اذا كنت تريد تجديد مطبخك فقط ما عليك اللى ان تتواصل مع مؤسسة الهلالى
                                إذا كنت ترغب في بيع مطبخك القديم وتبحث عن مؤسسة موثوقة، فلا داعي للمزيد من البحث، يمكنك الاتصال بنا في الهلالي. نحن نقدم خدمات شراء الأثاث المنزلي بما في ذلك المطابخ القديمة، ونضمن لك تجربة سلسة وموثوقة.

                                باستخدام خبرتنا الواسعة في مجال الأثاث المنزلي، نحن نقدم تقديرًا عادلًا لقيمة مطبخك القديم ونقدم لك عرضًا مجزيًا. كما نقدم خدمة سريعة وموثوقة لجلب الأثاث وتوفيرك من عناء التخلص منه بنفسك.

                                اتصل بنا اليوم للحصول على استشارة مجانية وتقدير لمطبخك القديم، ودعنا نساعدك في بيعه بأسرع وقت ممكن وبأفضل سعر. نحن هنا لجعل عملية بيع مطبخك القديم سهلة ومربحة لك
                            </p>
                            <a href="Services">
                                المزيد
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="./images/s2.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                تطوير فنادق
                            </h5>
                            <p>
                                إذا كنت تبحث عن مؤسسة تساعدك في تطوير وتجديد فندقك، وتقدم خدمات شراء الأثاث بالتعاون مع الهلالي، فأنت في المكان الصحيح. نحن نفخر بتقديم خدمات شاملة لتطوير وتجديد الفنادق، بما في ذلك شراء الأثاث الذي يلبي تطلعاتك ويضيف لمسة من الأناقة والراحة لمنشأتك.

                                بالتعاون مع الهلالي، نقدم مجموعة متنوعة من الأثاث عالي الجودة والذي يتناسب مع أسلوب وديكور فندقك. نحن نعمل عن كثب معك لفهم احتياجاتك ومتطلباتك، ونقدم حلولًا مخصصة تتناسب مع ميزانيتك وتحقق رؤيتك.
                                فريقنا المتخصص يضمن لك تجربة تسوق سلسة ومريحة، حيث نقدم لك خدمة شراء الأثاث بأسعار تنافسية وبجودة عالية، بما يتماشى مع معاييرك وتوقعاتك. اتصل بنا اليوم لمناقشة احتياجاتك والبدء في تحويل فندقك إلى وجهة استثنائية تلبي احتياجات ضيوفك وتترك انطباعًا قويًا لديهم
                            </p>
                            <a href="Services">
                                المزيد
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="box">
                        <div class="img-box">
                            <img src="./images/s3.jpg" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                اثاث منزلى مستعمله
                            </h5>
                            <p class="dis">
                                إذا كنت تبحث عن مؤسسة تساعدك في تطوير وتجديد مجالس منزلك، فأنت في المكان المناسب. نحن نقدم خدمات شاملة لتحويل وتجديد مجالس منازلك بأسلوب أنيق ومميز يعكس ذوقك الشخصي ويضيف قيمة إلى منزلك.

                                مع فريقنا المحترف وذوي الخبرة، سنقوم بتقديم الاستشارات المباشرة والتصميمات المخصصة لتلبية احتياجاتك وتطلعاتك. سواء كنت ترغب في إعادة تصميم مجلس الاستقبال، أو تجديد غرفة المعيشة، أو تحديث مساحة الترفيه، فإننا نقدم حلولًا مبتكرة وعملية تناسب جميع أنماط الديكور والميزانيات.

                                نحن نضمن تنفيذ كل تفاصيل المشروع بدقة وجودة عالية، بدءًا من اختيار المواد والأثاث المناسب إلى التركيب والتشطيب. كما نهتم بتوفير تجربة تسوق ممتعة ومريحة لك

                                اتصل بنا اليوم لبدء رحلة تجديد مجالس منزلك، ودعنا نساعدك في إنشاء بيئة مريحة وجميلة تعكس أسلوب حياتك وتلبي احتياجاتك وتطلعاتك
                            </p>
                            <a href="Services">
                                المزيد
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- end gallery section -->
    <!-- service section -->

    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="js/bootstrap.js"></script>
    <!-- lightbox Gallery-->
    <script src="js/ekko-lightbox.min.js"></script>
    <!-- custom js -->
    <script src="js/custom.js"></script>

</body>

</html>